/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "rails_bootstrap_forms";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "rails_bootstrap_forms";

 body {
  background-color: #EEEEEE;
  padding-top: 50px;
}

 .navbar-default {
  background: #303030;
 }

.new-menu {
  background: #F05F40 ;
}

.navbar-default .navbar-nav > li > a {
  color: #EBEBEB;
}

.navbar-default .navbar-nav > .new-menu > a {
  color: #EBEBEB;
  transition: background-color 0.5s ease;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #EBEBEB;
}


.navbar-default .navbar-nav > .new-menu > a:hover, .navbar-default .navbar-nav > .new-menu > a:focus {
  background: #EE4B28;
  color: #EBEBEB;
}

.navbar-default .navbar-nav > .new-menu .open > a, .navbar-default .navbar-nav > .new-menu .open > a:hover, .navbar-default .navbar-nav > .new-menu .open > a:focus {
  background: #EE4B28;
  color: #EBEBEB;
}
