<h1>New Category</h1>
<%= bootstrap_form_for @category do |f| %>
  <%= f.text_field :name %>
  <%= f.select :transaction_type, options_for_select(Category.transaction_types.keys) %>
  <%= f.submit %>
<% end %>